/* Restaurante Corazón De Japón, Santurce, P.R. 2025 */



body {
  background-color: black;
}

div#container {

            position: relative;
			margin: 0 auto;
			width: 1000px;
			
}

div#banner {

            position: absolute;
			left: 1px;		
			top: 150px;
			width: 1000px;
			font-family: Helvetica, Arial, sans-serif;
	        font-size: 50px;
            text-align: center;
	        font-weight: bold;
			color: white;

						
}
