/* Restaurante Corazón De Japón, Santurce, P.R. 2025 */



body {
  background-color: #fdebe7;
}

div#container {

            position: relative;
			margin: 0 auto;
			width: 992px;
			
}

div#banner {

            position: absolute;
			left: 248px;		
			top: 2px;
			width: 992px;
						
}

div#animation {

            position: absolute;
			left: 1px;		
			top: 1450px;
			width: 490px;
						
}


div#right {

            position: absolute;
			left: 502px;		
			top: 1450px;
			width: 490px;
						
}